@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 249, 250, 251;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer utilities {
  @keyframes pulse-red-custom {
    0%, 100% {
      background-color: #fff1f2; /* rose-50 */
      border-color: #f43f5e;     /* rose-500 */
      box-shadow: 0 4px 6px -1px rgba(244, 63, 94, 0.1), 0 2px 4px -1px rgba(244, 63, 94, 0.06);
    }
    50% {
      background-color: #ffe4e6; /* rose-100 */
      border-color: #e11d48;     /* rose-600 */
      box-shadow: 0 10px 15px -3px rgba(244, 63, 94, 0.3), 0 4px 6px -2px rgba(244, 63, 94, 0.15);
    }
  }

  .animate-pulse-red {
    animation: pulse-red-custom 2s infinite;
  }
}
